listen <%= @name %>
  mode <%= @mode %>
<% Array(@ipaddress).uniq.each do |virtual_ip| (@ports.is_a?(Array) ? ports : Array(@ports.split(","))).each do |port| %>
  bind <%= virtual_ip %>:<%= port %>
<% end end %>
<% @options.sort.each do |key, val| -%>
<% Array(val).each do |item| -%>
  <%= key %>  <%= item %>
<% end -%>
<% end -%>
