<% Array(@ipaddresses).zip(Array(@server_names)).each do |ipaddress,host| -%>
  server <%= host %> <%= ipaddress %>:<%= Array(@ports).collect {|x|x.split(',')}.flatten.join(",#{ipaddress}:") %> <%= Array(@options).join(" ") %>
<% end %>
